In [1]:
import pandas as pd
import lxml.etree as ET
import csv

In [2]:
xml = ET.parse("C:/Users/pauli/Documents/M2/entrepot de donnees/test.xml")
#PrixCarburants_annuel_2022

In [3]:
xroot = xml.getroot()
print(xroot.tag)

pdv_liste

In [4]:
dfcols = ["id_station", "latitude", "longitude", "adresse", "ville", "cp", "id_pompe", "type_carburant", "prix","date_maj"]

df_xml = pd.DataFrame(columns=dfcols)

for node in xroot :
    id_ = node.attrib.get("id")
    latitude = node.attrib.get("latitude")
    longitude = node.attrib.get("longitude")
    adresse = node.find("adresse").text
    ville = node.find("ville").text
    cp = node.attrib.get("cp")
    for prix in node.iter('prix'):

        ligne = prix.attrib.values()
        if ligne :
            nom = ligne[0]
            id_p = ligne[1]
            prix = ligne[3]
            maj = ligne[2]
            df_new_row = pd.DataFrame(data=[[id_, latitude,longitude,adresse,ville,cp,id_p,nom,prix,maj]], columns=dfcols)
            df_xml = pd.concat([df_xml, df_new_row], ignore_index=True)

In [5]:
df_xml

,id_station,latitude,longitude,adresse,ville,cp,id_pompe,type_carburant,prix,date_maj
0,75001003,4886100,234100,"8,10,10bis Rue Bailleul",PARIS,75001,1,Gazole,1.99,2022-02-16T13:20:04
1,75001003,4886100,234100,"8,10,10bis Rue Bailleul",PARIS,75001,1,Gazole,2.09,2022-03-05T14:32:29
2,75001003,4886100,234100,"8,10,10bis Rue Bailleul",PARIS,75001,1,Gazole,2.49,2022-03-07T15:05:36
3,75001003,4886100,234100,"8,10,10bis Rue Bailleul",PARIS,75001,1,Gazole,2.42,2022-03-14T13:03:03
4,75001003,4886100,234100,"8,10,10bis Rue Bailleul",PARIS,75001,1,Gazole,2.21,2022-04-01T13:56:24
...,...,...,...,...,...,...,...,...,...,...
36582,92300004,4889300,230200,2/10 BLD FORT DE VAUX,PARIS,75017,6,SP98,1.799,2022-10-10T10:08:54
36583,92300004,4889300,230200,2/10 BLD FORT DE VAUX,PARIS,75017,6,SP98,2.05,2022-10-14T07:53:46
36584,92300004,4889300,230200,2/10 BLD FORT DE VAUX,PARIS,75017,6,SP98,1.979,2022-10-18T09:45:32
36585,92300004,4889300,230200,2/10 BLD FORT DE VAUX,PARIS,75017,6,SP98,2.05,2022-10-19T12:10:43
36586,92300004,4889300,230200,2/10 BLD FORT DE VAUX,PARIS,75017,6,SP98,1.689,2022-11-09T09:41:57

In [6]:
#df_xml.to_csv("C:/Users/pauli/Documents/M2/entrepot de donnees/2.csv", index=False)

In [18]:
df=pd.read_csv("C:/Users/pauli/Documents/M2/entrepot de donnees/2.csv", sep=";")

In [19]:
df["date_maj"]=df["date_maj"].str.slice(stop=10)
df["date_maj"] = pd.to_datetime(df["date_maj"], format='%Y-%m-%d')

In [20]:
print(type(df["date_maj"][0]))
print(df)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
       id_station   latitude  longitude                  adresse  ville  \
0        75001003  4886100.0   234100.0  8,10,10bis Rue Bailleul  PARIS
1        75001003  4886100.0   234100.0  8,10,10bis Rue Bailleul  PARIS
2        75001003  4886100.0   234100.0  8,10,10bis Rue Bailleul  PARIS
3        75001003  4886100.0   234100.0  8,10,10bis Rue Bailleul  PARIS
4        75001003  4886100.0   234100.0  8,10,10bis Rue Bailleul  PARIS
...           ...        ...        ...                      ...    ...
36582    92300004  4889300.0   230200.0    2/10 BLD FORT DE VAUX  PARIS
36583    92300004  4889300.0   230200.0    2/10 BLD FORT DE VAUX  PARIS
36584    92300004  4889300.0   230200.0    2/10 BLD FORT DE VAUX  PARIS
36585    92300004  4889300.0   230200.0    2/10 BLD FORT DE VAUX  PARIS
36586    92300004  4889300.0   230200.0    2/10 BLD FORT DE VAUX  PARIS

          cp  id_pompe type_carburant   prix   date_maj
0      75001         1         Gazole  1.990 2022-02-16
1      75001         1         Gazole  2.090 2022-03-05
2      75001         1         Gazole  2.490 2022-03-07
3      75001         1         Gazole  2.420 2022-03-14
4      75001         1         Gazole  2.210 2022-04-01
...      ...       ...            ...    ...        ...
36582  75017         6           SP98  1.799 2022-10-10
36583  75017         6           SP98  2.050 2022-10-14
36584  75017         6           SP98  1.979 2022-10-18
36585  75017         6           SP98  2.050 2022-10-19
36586  75017         6           SP98  1.689 2022-11-09

[36587 rows x 10 columns]